# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
!environments/**/terraform.tfvars
*.auto.tfvars
!*.auto.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Never commit real secrets
secrets.auto.tfvars
*.pem
*.key

# OS / editor
.DS_Store
.idea/
.vscode/
# Terraform binary
terraform.exe

# Optional local tools
tools/
*.zip